//     ___ ___  _    ___  ___  ___
//    / __/ _ \| |  / _ \| _ \/ __|
//   | (_| (_) | |_| (_) |   /\__ \
//    \___\___/|____\___/|_|_\|___/
//
// =========================================================================================
// =========================================================================================
//
// This stylesheet provides a centralized location to manage colors. Colors
// should not be declared in CSS directly; instead, add the color to the
// `$colors` map (following the <color>-<modifier> naming convention) and
// then included using the `color()` function.



$COLORS: (
  page-background: rgb(255, 255, 255),

  menu-gradient: rgb(44, 44, 44),

  button-color: rgb(44, 44, 44),

  type-heading: rgb(44, 44, 44),
  type-paragraph: rgb(44, 44, 44),

  horizontal-rule: rgb(44, 44, 44),

  icon-light: rgb(255, 255, 255),
  icon-dark: rgb(44, 44, 44),

  cart-bubble: rgb(228, 228, 228),

  facebook-blue: rgb(57, 87, 154),
  twitter-blue: rgb(80, 171, 241)
);

@function color($color) {
  @return map-get($COLORS, $color);
}
