/*
Error: Invalid CSS after "  background: url(": expected ")", was "{{ "hero.jpg" |..."
        on line 6 of assets/stylesheets/components/_home.scss
        from line 58 of assets/stylesheets/theme.scss

1: .hero {
2:   display: block;
3:   width: 100%;
4:   max-width: 100%;
5:   height: 50vh;
6:   background: url({{ "hero.jpg" | asset_url }}) no-repeat bottom center;
7: }

Backtrace:
assets/stylesheets/components/_home.scss:6
assets/stylesheets/theme.scss:58
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/scss/parser.rb:1162:in `expected'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/script/lexer.rb:221:in `expected!'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/script/parser.rb:580:in `assert_tok'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/script/parser.rb:408:in `funcall'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/script/parser.rb:387:in `ident'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/script/parser.rb:246:in `unary_not'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/script/parser.rb:246:in `unary_div'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/script/parser.rb:246:in `unary_minus'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/script/parser.rb:246:in `unary_plus'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/script/parser.rb:227:in `times_div_or_mod'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/script/parser.rb:227:in `plus_or_minus'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/script/parser.rb:227:in `relational'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/script/parser.rb:227:in `eq_or_neq'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/script/parser.rb:227:in `and_expr'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/script/parser.rb:227:in `or_expr'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/script/parser.rb:361:in `space'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/script/parser.rb:345:in `interpolation'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/script/parser.rb:293:in `expr'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/script/parser.rb:571:in `assert_expr'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/script/parser.rb:62:in `parse'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/scss/parser.rb:1024:in `sass_script'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/scss/parser.rb:877:in `value!'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/scss/parser.rb:750:in `block in try_declaration'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/scss/parser.rb:1138:in `call'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/scss/parser.rb:1138:in `rethrow'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/scss/parser.rb:763:in `try_declaration'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/scss/parser.rb:693:in `declaration_or_ruleset'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/scss/parser.rb:658:in `block_child'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/scss/parser.rb:650:in `block_contents'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/scss/parser.rb:639:in `block'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/scss/parser.rb:632:in `ruleset'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/scss/parser.rb:657:in `block_child'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/scss/parser.rb:647:in `block_contents'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/scss/parser.rb:117:in `stylesheet'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/scss/parser.rb:42:in `parse'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/engine.rb:403:in `_to_tree'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/engine.rb:309:in `to_tree'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:323:in `block in visit_import'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/stack.rb:88:in `block in with_import'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/stack.rb:88:in `with_import'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/stack.rb:79:in `block in with_base'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/stack.rb:79:in `with_base'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/root_node.rb:20:in `render'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/engine.rb:278:in `render'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/exec/sass_scss.rb:418:in `run'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/exec/base.rb:52:in `parse'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/exec/base.rb:19:in `parse!'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/bin/sass:13:in `<top (required)>'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/bin/sass:23:in `load'
/Users/kyledurand/.rvm/gems/ruby-2.1.5/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"  background: url(\": expected \")\", was \"{{ \"hero.jpg\" |...\"\A         on line 6 of assets/stylesheets/components/_home.scss\A         from line 58 of assets/stylesheets/theme.scss\A \A 1: .hero {\A 2:   display: block;\A 3:   width: 100%;\A 4:   max-width: 100%;\A 5:   height: 50vh;\A 6:   background: url({{ \"hero.jpg\" | asset_url }}) no-repeat bottom center;\A 7: }"; }
