
<div class="page-not-found">
  <h1 class="type--heading type--heading-6"><span class="page-not-found__404">404</span>Page Not Found</h1>
  <p class="page-not-found__message type--paragraph">Something went wrong and we couldn’t find the page you were looking for.</p>
  <a class="button button--primary" href="/">
  <span class="helpers--top-nudge">Back to {{ shop.name }}</span>
  </a>
</div>
